.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    line-height: 84px;
    border-bottom: 2px solid #c81523;
}
.registerarea{
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
    line-height: 42px;
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.registerarea a{
    float: right;
    font-size: 14px;
}
.regform{
    width: 600px;
    margin: 50px auto 0;
}
.regform ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.regform ul li .inp{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;

}
.regform ul li {
    margin-top: 20px;
}
.bzq{
    color: red;
}
.error_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(../images/error.png) no-repeat;
    margin-top: -2px;
}
.succes{
    color: green;
}
.success_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(../images/success.png) no-repeat;
    margin-top: -2px;
}
.safe em{
    padding: 0 12px;
    color: #efff;
}
.safe{
    padding-left: 170px;
}
.r{
    background-color: #de1111;
}
.z{
    background-color: #40b83f;
}
.q{
    background-color: #f79100;
}
.agree{
    margin-left: 90px;
}
.agree a{
    margin-right: 290px;
    color: rgb(60, 178, 214);
}
.agree input{
    vertical-align: middle;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: #c81523;font-size: 14;color: #ececec;
    margin: 20px 0 0 110px;
}

.mod_coppright{
    text-align: center;
    padding-top: 20px;
}
.liks{
    margin-bottom: 25px;
}
.copyright{
    line-height: 20px;
}